# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/docs-gen-docker/dist
/docs-gen-docker/tmp

# dependencies
docs-gen-docker//node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/docs-gen-docker/typings

# e2e
/docs-gen-docker/e2e/*.js
/docs-gen-docker/e2e/*.map

#System Files
.DS_Store
Thumbs.db
